<div class="container-fluid bg-dark p-5">
<div class="container">
    <div class="row text-white">
      <div class="col-sm-4">
        <h3>About Us</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="col-sm-4">
        <h3>Newsletter</h3>
        <p>Lorem Ipsum is simply dummy text</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
        </div>
      </div>
      <div class="col-sm-4">
        <h3>Follow Us on Social Media</h3>
        <div class="container-fluid">
        <div class="row">
        <div class="col-2">
        <p><i class="bi bi-facebook social-media-icons"></i></p>
      </div>
      <div class="col-2">
        <p><i class="bi bi-linkedin social-media-icons"></i></p>
      </div>
      <div class="col-2">
        <p><i class="bi bi-instagram social-media-icons"></i></p>
      </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  </body>
  </html>